<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">

        <form class="form" name="addForm" novalidate>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" id="name" placeholder="enter name" ng-model="person.name"
                       ng-required="true" ng-minlength="2">
                <p class="help-block" ng-show="addForm.name.$touched && addForm.name.$invalid"> Bad news</p>
            </div>

            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="name" class="form-control" id="surname" placeholder="enter surname"
                       ng-model="person.surname" ng-required="true" ng-minlength="5">
                <p class="help-block" ng-show="addForm.surname.$touched && addForm.surname.$invalid"> Bad news</p>
            </div>

            <div class="form-group">
                <label for="pesel">Pesel</label>
                <input type="text" class="form-control" id="pesel" placeholder="eneter pesel"
                       ng-model="person.pesel" ng-required="true" integer ng-maxlength="11">

                <p class="help-block"
                   ng-show="addForm.pesel.$touched && addForm.pesel.$invalid && addForm.pesel.$error.peselx"
                >Example block-level help text here.</p>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="person.gender" value="male">male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="person.gender" value="female"> female
                </label>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block" name="addppl" ng-click="add()"
                    ng-disabled="!person.gender">Submit
            </button>

        </form>
    </div>
</div>