<my-dialog style="margin-bottom: 20px;"></my-dialog>

<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-6 col-md-offset-3 col-lg-6">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


                        <ul ng-controller="delController">
                            <li style="list-style-type: none;">
                                <input type="button" class="btn btn-danger btn-lg btn-block" value="Delete checked" ng-model="selected"
                                       ng-click="delIt()"/>
                            </li>
                        </ul>
            </div>
            </div>




    <table class="table" ng-controller="checkboxController">

        <thead class="clr">
        <tr>
            <th>
                <ul ng-controller="checkboxController">
                    <li style="list-style-type: none">
                        Check all
                        <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/>
                    </li>
                </ul>
            </th>
            <th>Action</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Pesel</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody id="torefresh">
        <tr ng-repeat="rep in people" ng-controller="delController">
            <td class="active"><input type="checkbox" ng-model="rep.Selected"></td>
            <td class="active"><input type="button" value="Edit" ng-model="rep.Selected"></td>
            <td class="success">{{rep.name}}</td>
            <td class="warning">{{rep.surname}}</td>
            <td class="danger">{{rep.pesel}}</td>
            <td class="info"><img src="{{rep.gender | genderToImg}}" width="25"></td>


        </tr>
        </tbody>

    </table>

</div>
</div>


