
td {
    border: 1px solid black;

    text-align: center;
}

.clr {

    background-color: gray;
    color: aliceblue;
}

th {
    border: 1px solid black;
}



input[type=text].ng-invalid, textarea.ng-untouched {

    border: 1px solid red;
    background-color: white;

}

textarea.ng-untouched {

    background-color: #999999;
}

textarea.ng-pristine {

    background-color: red;
}

input[type=text].ng-valid {

    background-color: lightgreen;

}
